<?xml version='1.0' encoding='utf-8'?>
<widget id="con.anikbuild.busapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dhaka_Bus_App</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>



    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <preference name="StatusBarBackgroundColor" value="#000000" />


    <platform name="android">
        <icon density="xxxhdpi" src="www/res/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/drawable-port-xxxhdpi-screen.png" />

</widget>
