body {
    display: block;
    margin: 0px;
}

.mainnavbarbuton {
    font-size: 36px;
    color: white;
    /* cursor: pointer; */
    padding: 0px 0px 0px 18px;
    display: block;
    width: 100%;
    position: fixed;
    background-color: #a0a0a0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1abc9c;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 32px;
    color: #ecf0f1;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 85px;
}












#myInput {
    width: 99%;
    font-size: 31px;
    padding: 1px 0px 0px 25px;
    border: 1px solid rgb(143, 229, 255);
    margin-bottom: 7px;
    box-shadow: 0px 2px 12px 1px rgba(143, 205, 212, 0.59);
    margin-top: 51px;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -4px;
    background-color: #f6f6f6;
    padding: 5px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
}

#myUL li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}